{% extends "bootstrap/base.html" %}
{% block title %}Office Night{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" type="text/css">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="/"><h2>OfficeNight</h2></a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">

                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('auth.user_info',name=current_user.user_name) }}">{{ current_user.user_name }}</a>
                        </li>
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                        <li><a href="{{ url_for('auth.user_register') }}">注册</a></li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_body %}
            <a href="{{ url_for('main.add_catory') }}">上传你的故事</a>

            <div class="row">
                {% for catory in catorys %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <a href="{{ url_for('main.catory_detail',catory_name=catory.data_name) }}">
                                <img src="{{ url_for('static',filename=catory.show_imge) }}" alt="图片找不到啦">
                            </a>
                            <div class="caption">
                                <h3><a href="{{ url_for('main.catory_detail',catory_name=catory.data_name) }}">{{ catory.data_name }}</a></h3>
                                <h5><a href="{{ url_for('auth.user_info',name=catory.author) }}">{{ catory.author }}</a></h5>
                                <p>阅读量:{{ catory.read_num }}</p>
                                <p>简介：...</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {#            <table class="table">#}
            {#                <thead>#}
            {#                <tr>#}
            {#                    <th>图片</th>#}
            {#                    <th>名字</th>#}
            {#                    <th>作者</th>#}
            {#                    <th>阅读量</th>#}
            {#                </tr>#}
            {#                </thead>#}
            {#                <tbody>#}
            {#                {% for catory in catorys %}#}
            {#                    <tr>#}
            {#                        <td><img src="{{ url_for('static',filename=catory.show_imge) }}"></td>#}
            {#                        <td><a href="#">{{ catory.data_name }}</a></td>#}
            {#                        <td><a href="#">{{ catory.author }}</a></td>#}
            {#                        <td><p>{{ catory.read_num }}</p></td>#}
            {#                    </tr>#}
            {##}
            {#                {% endfor %}#}
            {#                </tbody>#}
            {#            </table>#}
        {% endblock %}
    </div>
{% endblock %}

