{% extends 'index.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
    {#    <h2>登陆</h2>#}
    <div class="container container-fluid c">
        {% if error %}
            <p><strong>ERROR</strong>{{ error }}</p>
        {% endif %}

        <div class="page-header">
            <h1>Login</h1>
        </div>
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {#    <form action="{{ url_for('auth.login') }}" method="post">#}
    {#        <label for="username"></label>#}
    {#        <input type="text" name="username" id="username">#}
    {#        <label for="password"></label>#}
    {#        <input type="password" name="password" id="password">#}
    {#        <input type="submit" value="登陆">#}
    {#    </form>#}
{% endblock %}